@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
}

header{
    z-index: 5;
    position: fixed;
    background: #408f39;
    padding: 20px;
    width: 100%;
    height: 30px;
}

.left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.right_area .logout_btn{
    padding: 5px 10px;
    background: #ffffff;
    text-decoration: none;
    float: right;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}


.right_area .logout_btn:hover{
    background: #000000;
    color: #ffffff;
}

.sidebar{
    background: #274d33;
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}



.sidebar .profile_img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
}

.sidebar a:hover{
    background: #1fee0c;
}

.sidebar i{
    padding-right: 10px;
}

label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #1fee0c;
}

#check:checked ~.sidebar{
    left: -190px;
}

#check:checked ~.sidebar a span{
    display: none;
}

#check:checked ~.sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

.content{
    margin-left: 250px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

#check:checked ~ .content{
    margin-left: 60px;
}

#check{
    display: none;
}

/* text */
  
#glass-morphism {
    width: 90vw;
    height: 100vh;
    bottom: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}  
  
.credit-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.074);
    color: #e6e6e6;
    padding: 30px;
    border-radius: 12px;
    gap: 15px;
    border: 3px solid rgba(255, 255, 255, 0.12);    
}
  
.r-270 {
    transform: rotate(270deg);
}
  

