body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}

.user img
{
    
    position: absolute;
    top: 120px;
    width: 60%;
    size: 25px;
    left: 120px;
    right: 120px;
    top: 90px;
    border-radius: 50%;
     
}

.basic
{
  position: absolute;
  width: 300px;
  height: 530px;
  left: 5px;
  top: 30px;
  background-color:linear-gradient(109.58deg, #000000 0%, #0B003E 98.93%) !important ;

}

.basic .name
{
  position: absolute;
  width: 161px;
  height: 40px;
  left: 140px;
  top:260px ;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.16px;
  color: #ffffff;
}

.change .edit
{
    position: relative;
    top:340px;
    left:100px;
}
.btn-secondary {
    width: 70%;
    border-radius: 0;
    padding: .6rem 1rem;
    font-size: 1.2rem;
    
    color: white;
}
  .btn-secondary:hover
{
    border-color:#274d33 ;
    background-color:#274d33  ;
    color: white;
   
}
  
.infobox
{
  display: block;
  position: absolute;
  width: 820px;
  height: 540px;
  left: 400px;
  top: 45px;
  margin: none;
  font-size: 30px;
  color: white;
  background:rgba(128, 128, 128, 0.432);
  box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.25);
  opacity: 2;
  border-radius: 40px;
}

.infobox .uname{
    position: relative;
    left: 40px;
    top: 40px;
}
.infobox .email{
    position: relative;
    left: 40px;
    top: 50px;
}
.infobox .aadhar{
    position: relative;
    left: 40px;
    top: 60px;
}
.infobox .city{
    position: relative;
    left: 40px;
    top: 70px;
}
.infobox .add{
    position: relative;
    left: 40px;
    top: 80px;
}
.infobox .phone{
    position: relative;
    left: 40px;
    top: 90px;
}

.infobox .btn-secondary
{
    width: 30%;
    position: relative;
    left: 330px;
    top: 90px;
}

footer{
    background-color: white;
    color: black;
    padding: 0.5rem 0 2rem;
    margin-top: 0.5rem;
}

footer img{
    height: 10rem;
}

footer a{
    color: black;
}

footer svg.svg-inline--fa{
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}

footer .svg-inline--fa:hover{
    color: rgb(19, 153, 19)  !important;
}

hr.socket{
    width: 100%;
    border-top: .2rem solid #ffffff;
    margin-top: 3rem;
}

.contact
{
    position: absolute;
    top: 650px;  
}
