@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    /* color: #505962; */
    margin: 0;
    padding: 0;
}

.user img{
    position: absolute;
    top: 120px;
    width: 60%;
    size: 25px;
    left: 120px;
    right: 120px;
    top: 90px;
    border-radius: 50%;
     
}

.basic{
  position: absolute;
  width: 300px;
  height: 530px;
  left: 5px;
  top: 30px;
  background-color:linear-gradient(109.58deg, #000000 0%, #0B003E 98.93%) !important ;
}

.basic .name{
  position: absolute;
  width: 161px;
  height: 40px;
  left: 140px;
  top:260px ;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.16px;
  color: #ffffff;
}

.change .edit{
    position: relative;
    top:340px;
    left:100px;
}

.btn-secondary {
    width: 70%;
    border-radius: 0;
    padding: .6rem 1rem;
    font-size: 1.2rem;
    
    color: white;
}

.btn-secondary:hover{
    border-color:#274d33 ;
    background-color:#274d33  ;
    color: white;
   
}
  
.infobox{
  display: block;
  position: absolute;
  width: 820px;
  height: 540px;
  left: 400px;
  top: 45px;
  margin: none;
  font-size: 30px;
  color: white;
  background:rgba(128, 128, 128, 0.432);
  box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.25);
  opacity: 2;
  border-radius: 40px;
}

.infobox .uname{
    position: relative;
    left: 40px;
    top: 40px;
}

.infobox .email{
    position: relative;
    left: 40px;
    top: 50px;
}

.infobox .aadhar{
    position: relative;
    left: 40px;
    top: 60px;
}

.infobox .city{
    position: relative;
    left: 40px;
    top: 70px;
}
.infobox .add{
    position: relative;
    left: 40px;
    top: 80px;
}

.infobox .phone{
    position: relative;
    left: 40px;
    top: 90px;
}

.infobox .btn-secondary{
    width: 30%;
    position: relative;
    left: 330px;
    top: 90px;
}

footer{
    background-color: white;
    color: black;
    padding: 0.5rem 0 2rem;
    margin-top: 0.5rem;
}

footer img{
    height: 10rem; 
}

footer a{
    color: black;
}


hr.socket{
    width: 100vw;
    margin-top: 0.5rem;
}

.contact{
    position: absolute;
    top: 650px;  
} 

/* sidebar */

header{
    z-index: 5;
    position: fixed;
    background: #408f39;
    padding: 0% 2%;
    width: 100%;
    height: 8.7%;
}




.right_area .logout_btn{
    /* position: absolute; */
    padding: 0.5% 2%;
    background: #ffffff;
    text-decoration: none;
    float: right;
    border-radius: 2px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}


.right_area .logout_btn:hover{
    background: #000000;
    color: #ffffff;
}

.sidebar{
    z-index: 5;
    background: #274d33;
    margin-top: 4.7%;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 19.4%;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}

.sidebar .profile_img{
    height: 5em;
    border-radius: 100%;
    margin-bottom: 10px;
}

.sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
}

.sidebar a:hover{
    background: #1fee0c;
}

.sidebar .fas{
    margin-right: 10px;
}

label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    font-size: 20px;
    /* margin: 0px 0; */
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #1eac11;
}

#check:checked ~.sidebar{
    left: -190px;
}

#check:checked ~.sidebar a span{
    display: none;
}

#check:checked ~.sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

/* .content{
    margin-left: 250px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
} */

#check:checked ~ .content{
    margin-left: 60px;
}

#check{
    display: none;
}
