@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    color: #505962;
    background-color: #49a51f;

}



.heading{
    font-size: 50px;
    color: rgb(26, 83, 21);
    position: relative;
    /* left: 500px; */
    text-align:center;
    /* padding: auto; */
    /* width: 13%; */
}

.contact{
    font-size: 15px;
}

footer{
    background-color: white;
    color: black;
    padding: 0.5rem 0 2rem;
    margin-top: 0.5rem;
}

footer img{
    height: 10rem;  
}

footer a{
    color: black;
}

footer svg.svg-inline--fa{
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}

footer .svg-inline--fa:hover{
    color: rgb(19, 153, 19)  !important;
}

hr.socket{
    width: 100%;
    border-top: .2rem solid #ffffff;
    margin-top: 3rem;
}
  
/* side bar */

