@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    color: #505962;
    scroll-behavior: smooth;

}
  
.caption{   
    color: white;
    font-weight: 500;
}

.caption .lead{
    font-weight: 500;
}
  
.caption{   
    width: 100%;
    margin-top: 50px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}
  
#check:checked ~ .caption{
    margin-left: 60px;
}
  
#glass-morphism {
    width: fit-content;
    height: fit-content;
    bottom: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}  
  
.btn-secondary {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0.7rem;  
    color: white;
}

.btn-secondary:hover{
    border-color:#274d33 ;
    background-color:#274d33  ;
    color: white;
}
  
.row .point{
    font-weight: 500;
    font-size: 40px ;
}

#check{
    display: none;
}
  
footer{
    background-color: white;
    color: black;
    padding: 0.5rem 0 2rem;
    margin-top: 0.5rem;
}
footer img{
    height: 10rem;  
}

footer a{
    color: black;
}

footer svg.svg-inline--fa{
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}

footer .svg-inline--fa:hover{
    color: rgb(19, 153, 19)  !important;
}

hr.socket{
    width: 100%;
    border-top: .2rem solid #ffffff;
    margin-top: 3rem;
}
  
  